body {
  background-color: black;
  color: white !important;
  margin: 0px;
}

html,
body {
  height: 100%;
}

.a-logo {
  margin-top: -20px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.a-logo p {
  margin-top: -35px;
  margin-left: 45px;
}

.menu-head {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.head-01 {
  background-color: #3d3a39;
  display: flex;
  height: 60px;
}

.input-head {
  margin-left: 1100px;
  width: 200px;
  text-align: start;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #fff;
  color: #fff;
  background-color: #828080;
}

.input-head::placeholder {
  color: #fff;
}

.sidebar a {
  display: block;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 50px;
  height: max-content;
  width: fit-content;
  text-decoration: none !important;
  color: #fff;
  text-transform: uppercase;
}

.sidebar a svg {
  margin-right: 10px;
}

.sidebar a:hover {
  fill: #f2762f !important;
  color: #f2762f !important;
  stroke: #f2762f !important;
}
.sidebar {
  background-color: #3d3a39;
  width: 15%;
  min-height: 100vh;
}

.content {
  display: flex;
  height: 100vh;
  margin: 0px;
}

.main h1 {
  height: max-content;
  margin-left: 40px;
}

.main {
  width: 100%;
  height: 100vh;
}

.main h3 {
  margin-top: 0px;
  margin-left: 200px;
}

.card-events {
  display: flex;
  width: 60%;
  margin-left: 20%;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #292b42;
  align-content: center;
  margin-top: 0px;
}

.card-left {
  width: 50%;
  height: 100%;
  padding: 10px;
  margin-left: 20px;
  border-right: 2px solid #fff;
}

.card-left h4 {
  margin: 0px;
}

.bottom-card {
  display: flex;
  align-items: start;
}

.bottom-card svg {
  margin-right: 5px;
  margin-left: 17px;
}

.card-right {
  width: 500px;
  height: auto;
  overflow: hidden;
}

.card-right img {
  display: block;
  width: 100%;
  height: 100%;
}

.cards-center {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 461px;
  height: 180px;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-left: 10%;
  margin-bottom: 10px;
}

.image {
  height: 170px;
}
